pipeline/ExtractFromSAPProd_ZMOB_INSP_C_I_ByLot_ToLake.json
{
	"name": "ExtractFromSAPProd_ZMOB_INSP_C_I_ByLot_ToLake",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup PRUEFLOS_KEYS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup PRUEFLOS_KEYS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy ZMOB_INSP_H_I from SAP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@item().PRUEFLOS_KEY",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SAP_ZMOB_INSP_C_I",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "blbstrg_ZMOB_INSP_C_I_ByLot",
									"type": "DatasetReference",
									"parameters": {
										"DestFileName": {
											"value": "@item().FILENAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Metadata",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy ZMOB_INSP_H_I from SAP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "azrsqldb_sapmetadata",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update [dbo].[ZMOB_INSP_H_I_PRUEFLOS_KEY]\n  set INDICATOR = ''Y'',\n        COMPLETED = getdate()\n    where  PRUEFLOS_KEY =', item().FILENAME)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Lookup PRUEFLOS_KEYS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ZMOB_INSP_H_I_PRUEFLOS_KEYS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "SAP/Landing"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-14T07:10:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}